*{
    margin: 0;
    padding: o;
}
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: rgb(250, 227, 16);
    display: block;
    transition: all 0.2s;
}
.middle-bar{
    margin: 5px;
}
.r1{
    /* background-color: #1deeee; */
    background: linear-gradient(180deg,#a83279,#d38312),linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6));
}
.r2{
    height: 15rem;
    width: 15rem;
    border: 0.2rem solid #ac396f;
    border-radius: 2rem;
}
.r3{
    border: 0.1rem solid #fe7f7f;
    border-radius: 2rem;
}
.r4{
    padding-top:1.5rem;
}
.r5{
    background: linear-gradient(-90deg,#d38312,#a83279);
    margin-left: 3rem ;
    margin-right: 3rem;
}
.r6{
    border: 0.1rem solid whitesmoke;
    border-left: none;
    border-right: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.r7{
    padding-bottom: 3rem;
}
.r8{
    position: fixed;
    width: 100%;
    z-index: 10000;

    background-color:rgba(0, 0, 0, 0.795);
}
.r9{
    font-family: 'Caveat', cursive;
font-family: 'Estonia', cursive;
font-family: 'Mochiy Pop One', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Zen Antique', serif;
}
.r10{
    font-family: 'Caveat', cursive;
    font-family: 'Estonia', cursive;
    font-family: 'Mochiy Pop One', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Zen Antique', serif;
}
/* .nav1{
    z-index: 1;
    height: auto;
} */

